body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9; /* خلفية فاتحة ومريحة */
}

header {
    background-color: #6c8e8e; /* لون هادئ ومريح */
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
}

#gallery img {
    max-width: 100%;
    height: auto;
    margin: 0.5em;
    border-radius: 8px; /* زوايا دائرية للصور */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ظل خفيف للصور */
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #6c8e8e; /* لون مميز وروابط مواقع التواصل */
}

footer {
    background-color: #6c8e8e; /* نفس لون الهيدر */
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
